/* palette

	red		#d83b3b
	orange	#d5803a
	yellow	#d5c83a
	lgreen	#9cd53a
	mgreen	#54d53a
	tgreen	#3ad566
	teal	#3ad5af
	lblue	#3ab6d5
	blue	#3a6ed5
	bv		#4c3ad5
	violet	#953ad5
	magenta	#d53a88

*/



body{
	display: flex;
	justify-content: center;
	
	font-family: sans-serif;
}

hr{
	border: none;
	border-top: 1px solid hsl(0,0%,90%);
}

.container{
	width: 80%;
}

.fancy{
	font-family: 'Georgia', serif;
	font-style: italic;
}

/* colors */

.text.red{ color: #d83b3b; }
.text.orange{ color:#d5803a;}
.text.yellow{ color:#d5c83a;}
.text.green1{ color:#9cd53a;}
.text.green2{ color:#54d53a;}
.text.green3{ color:#3ad566;}
.text.teal{ color:#3ad5af;}
.text.blue1{ color:#3ab6d5;}
.text.blue2{ color:#3a6ed5;}
.text.blue3{ color:#4c3ad5;}
.text.violet{ color:#953ad5;}
.text.magenta{ color:#d53a88;}

.theme{
	border-radius: 2px;
	display: block;
	padding: 8px;
}

.theme.green{
	background: #9cd53a;
	color: white;
}

.theme.violet{
	background: #953ad5;
	color: white;
}

.logo{
	position: relative;
	max-width: 640px;
	min-width: 320px;
	
	margin: 0 auto;
}
	

.logo .doremi{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	
	padding: 48px 0;
}

.logo .doremi img{
	animation: popin 0.35s forwards;
	width: 33.3%;
	margin: auto;
	visibility: hidden;
}

.logo .doremi img:nth-of-type(1){
	animation-delay: 0.1s;
}

.logo .doremi img:nth-of-type(2){
	animation-delay: 0.2s;
}

.logo .doremi img:nth-of-type(3){
	animation-delay: 0.3s;
}

.logo .logonotes{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.logo .logonotes img{
	position: absolute;
	width: 7%;
	top: 50%;
	left: 50%;
	
	animation: popin 0.5s forwards;
	visibility: hidden;
}

.logo .logonotes img:nth-of-type(1){
	top: 17%;
	left: -14%;
	width: 9%;
	animation-delay: 0.5s;
}

.logo .logonotes img:nth-of-type(2){
	top: 0;
	left: 55%;
	width: 14%;
	animation-delay: 1.1s;
}

.logo .logonotes img:nth-of-type(3){
	left: 93%;
	top: -5%;
	width: 5%;
	animation-delay: 0.9s;
}

.logo .logonotes img:nth-of-type(4){
	left: 110%;
	top: 35%;
	width: 5%;
	animation-delay: 0.8s;
}

.logo .logonotes img:nth-of-type(5){
	left: 88%;
	top: 80%;
	width: 13%;
	animation-delay: 0.7s;
}

.logo .logonotes img:nth-of-type(6){
	left: 15%;
	top: 80%;
	animation-delay: 1.0s;
}

.logo .logonotes img:nth-of-type(7){
	left: -4%;
	top: 69%;
	width: 5%;
	animation-delay: 0.6s;
}


.logoCaption{
	text-align: center;
	font-size: 1.4em;
	color: hsl(0, 0%, 65%);
}

.logoCaption p img{
	height: 2.5em;
	vertical-align: bottom;
	display: inline-block;
}

.about section{
	color: hsl(0, 0%, 30%);
}

footer, footer a{
	color: hsl(0, 0%, 50%);
}

footer{
	text-align: center;
	margin-top: 5em;
	font-size: 0.9em;
}

@keyframes popin{
	0%{
		visibility: hidden;
		transform: scale(0);
	}
	50%{ 
		visibility: visible;
		transform: scale(1.2);
	}
	100%{ 
		visibility: visible;
		transform: scale(1.0);
	}
}

@keyframes float{
	0%{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(0, -10%);
	}
	100%{
		transform: translate(0);
	}
}